{% extends "base.html" %}

{% block content %}

<div class="container-fluid bg-dark text-center p-2 text-white">
  <br><br><br><br>
  <div class="container">
      <h1><span class="badge bg-dark border border-1 border-warning text-warning "></span><ion-icon name="warning-outline"></ion-icon></h1>
      <h3 class="text-white-50">This type of link not support to download by yt_dlp!<br>Please, use only support services.</h3><br>
      <h4><a href="https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md" class="text-light" style="text-decoration: none">Full list of support sites!</a></h4>
      <br>
  </div>
  <!-- Footer -->
  <br><br><br><br>
  <div class="mt-auto text-white-50">
  <p>Powered on framework <a href="https://github.com/yt-dlp/yt-dlp" class="text-white">yt_dlp</a>, by <a href="https://twitter.com/" class="text-white">@x3mpython</a>.</p>
  </div>
</div>


{% endblock %}
