{% extends "base.html" %}

{% block content %}
<div class="container">
  <br><br><br><br>
  <h1><span class="badge bg-dark border border-1 border-warning text-warning "></span><ion-icon name="warning-outline"></ion-icon></h1>
  <br>
  <h3 class="text-white-50">Page not found!</h3>
  <!-- Footer -->
  <br><br><br><br>
  <div class="mt-auto text-white-50">
  <p>Powered on framework <a href="https://github.com/yt-dlp/yt-dlp" class="text-white">yt_dlp</a>, by <a href="https://twitter.com/" class="text-white">@x3mpython</a>.</p>
  </div>
</div>

<!-- Footer -->

{% endblock %}
